<a href="https://colab.research.google.com/github/yms0606/SecuLayer/blob/main/%EB%B3%91%EC%9B%90%20%EA%B0%9C%ED%8F%90%EC%97%85%20%EB%B6%84%EB%A5%98%20%EC%98%88%EC%B8%A1%20%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C/%EB%B3%91%EC%9B%90_%EA%B0%9C_%ED%8F%90%EC%97%85_%EB%B6%84%EB%A5%98_%EC%98%88%EC%B8%A1_%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [116]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [117]:
train = pd.read_csv("/content/drive/MyDrive/ML study/hospital_data/train.csv")
test = pd.read_csv("/content/drive/MyDrive/ML study/hospital_data/test.csv")

train.shape, test.shape

((301, 58), (127, 58))

In [118]:
train.columns

Index(['inst_id', 'OC', 'sido', 'sgg', 'openDate', 'bedCount', 'instkind',
       'revenue1', 'salescost1', 'sga1', 'salary1', 'noi1', 'noe1',
       'interest1', 'ctax1', 'profit1', 'liquidAsset1', 'quickAsset1',
       'receivableS1', 'inventoryAsset1', 'nonCAsset1', 'tanAsset1',
       'OnonCAsset1', 'receivableL1', 'debt1', 'liquidLiabilities1',
       'shortLoan1', 'NCLiabilities1', 'longLoan1', 'netAsset1', 'surplus1',
       'revenue2', 'salescost2', 'sga2', 'salary2', 'noi2', 'noe2',
       'interest2', 'ctax2', 'profit2', 'liquidAsset2', 'quickAsset2',
       'receivableS2', 'inventoryAsset2', 'nonCAsset2', 'tanAsset2',
       'OnonCAsset2', 'receivableL2', 'debt2', 'liquidLiabilities2',
       'shortLoan2', 'NCLiabilities2', 'longLoan2', 'netAsset2', 'surplus2',
       'employee1', 'employee2', 'ownerChange'],
      dtype='object')

In [119]:
obj2num = ["OC","sido","instkind","ownerChange"]

temp_arr=[]
for col in obj2num:
  temp_arr.append(pd.get_dummies(train[col],drop_first=True))

temp = pd.concat(temp_arr,axis=1)
df_train = pd.concat([temp, train.drop(columns=obj2num, axis=1)],axis=1)

In [120]:
temp_arr=[]
for col in obj2num:
  temp_arr.append(pd.get_dummies(test[col],drop_first=True))

temp1 = pd.concat(temp_arr, axis=1)
df_test = pd.concat([temp1, test.drop(columns=obj2num, axis=1)],axis=1)

In [121]:
label = 'open'
feature_names = df_train.columns.tolist()
#feature_names
feature_names.remove(label)
feature_names.remove('dental_clinic')
feature_names.remove('gwangju')

In [122]:
df_test.drop(columns='jeju',axis=1, inplace=True)

In [123]:
feature_names.remove('gangwon')
feature_names

['choongbuk',
 'choongnam',
 'daegu',
 'daejeon',
 'gyeongbuk',
 'gyeonggi',
 'gyeongnam',
 'incheon',
 'jeonbuk',
 'jeonnam',
 'sejong',
 'seoul',
 'ulsan',
 'general_hospital',
 'hospital',
 'nursing_hospital',
 'traditional_clinic',
 'traditional_hospital',
 'same',
 'inst_id',
 'sgg',
 'openDate',
 'bedCount',
 'revenue1',
 'salescost1',
 'sga1',
 'salary1',
 'noi1',
 'noe1',
 'interest1',
 'ctax1',
 'profit1',
 'liquidAsset1',
 'quickAsset1',
 'receivableS1',
 'inventoryAsset1',
 'nonCAsset1',
 'tanAsset1',
 'OnonCAsset1',
 'receivableL1',
 'debt1',
 'liquidLiabilities1',
 'shortLoan1',
 'NCLiabilities1',
 'longLoan1',
 'netAsset1',
 'surplus1',
 'revenue2',
 'salescost2',
 'sga2',
 'salary2',
 'noi2',
 'noe2',
 'interest2',
 'ctax2',
 'profit2',
 'liquidAsset2',
 'quickAsset2',
 'receivableS2',
 'inventoryAsset2',
 'nonCAsset2',
 'tanAsset2',
 'OnonCAsset2',
 'receivableL2',
 'debt2',
 'liquidLiabilities2',
 'shortLoan2',
 'NCLiabilities2',
 'longLoan2',
 'netAsset2',
 'surplus2',
 'employee1',
 'employee2']

In [124]:
#train['sido'].unique()
len(feature_names)

73

In [125]:
feature_names.remove('gyeongbuk')
feature_names.remove('gyeongnam')

In [126]:
df_test['employee1'] = df_test['employee1'].str.replace(",","").astype('float')
df_test['employee2'] = df_test['employee2'].str.replace(",","").astype('float')

X_train, X_valid, y_train, y_valid = train_test_split(df_train[feature_names], df_train[label],test_size=0.15, stratify=df_train[label])

X_train.shape

(255, 71)

In [127]:
X_train = X_train.fillna(method='pad')
X_valid = X_valid.fillna(method='pad')
X_train.isnull().sum()

choongbuk    0
choongnam    0
daegu        0
daejeon      0
gyeonggi     0
            ..
longLoan2    0
netAsset2    0
surplus2     0
employee1    0
employee2    0
Length: 71, dtype: int64

In [128]:
clf_rf = RandomForestClassifier()
clf_rf.fit(X_train, y_train)
pred_rf = clf_rf.predict(X_valid)

In [129]:
pred_rf

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1], dtype=uint8)

In [130]:
clf_rf.score(X_valid, y_valid)

0.9565217391304348

In [131]:
sub = pd.read_csv('/content/drive/MyDrive/ML study/hospital_data/submission_sample.csv')
sub.shape

(127, 2)

In [132]:
feature_names

['choongbuk',
 'choongnam',
 'daegu',
 'daejeon',
 'gyeonggi',
 'incheon',
 'jeonbuk',
 'jeonnam',
 'sejong',
 'seoul',
 'ulsan',
 'general_hospital',
 'hospital',
 'nursing_hospital',
 'traditional_clinic',
 'traditional_hospital',
 'same',
 'inst_id',
 'sgg',
 'openDate',
 'bedCount',
 'revenue1',
 'salescost1',
 'sga1',
 'salary1',
 'noi1',
 'noe1',
 'interest1',
 'ctax1',
 'profit1',
 'liquidAsset1',
 'quickAsset1',
 'receivableS1',
 'inventoryAsset1',
 'nonCAsset1',
 'tanAsset1',
 'OnonCAsset1',
 'receivableL1',
 'debt1',
 'liquidLiabilities1',
 'shortLoan1',
 'NCLiabilities1',
 'longLoan1',
 'netAsset1',
 'surplus1',
 'revenue2',
 'salescost2',
 'sga2',
 'salary2',
 'noi2',
 'noe2',
 'interest2',
 'ctax2',
 'profit2',
 'liquidAsset2',
 'quickAsset2',
 'receivableS2',
 'inventoryAsset2',
 'nonCAsset2',
 'tanAsset2',
 'OnonCAsset2',
 'receivableL2',
 'debt2',
 'liquidLiabilities2',
 'shortLoan2',
 'NCLiabilities2',
 'longLoan2',
 'netAsset2',
 'surplus2',
 'employee1',
 'employee2']

In [138]:
df_test.isnull().sum()
df_test = df_test.fillna(method='pad')

In [139]:
sub['OC'] = clf_rf.predict(df_test[feature_names])
sub.to_csv('sub_rf.csv', index = False)